html {
  background-color: rgb(44, 201, 175);
  /* background-color: #04aa6d; */
}
.title {
  align-items: center;
  font-size: 28px;
  color: rgb(237, 231, 233);
  /* margin-bottom: -20px; */
}
/* Dropdown Button */
.dropbtn {
  background-color: #2fa8cc;
  color: rgb(255, 250, 251);
  padding: 12px;
  font-size: 16px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block;
  align-items: left;
}

h1 {
  color: rgb(64, 67, 57);
}

h2 {
  font-size: 20px;
  color: rgb(43, 44, 40);
}

.enter {
  background-color: #dedede;
  color: rgb(64, 67, 57);
  padding: 12px;
  font-size: 16px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 100px; */
  /* justify-content: center; */
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
  /* padding: 20px; */
}

.pie {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container {
  /* background-color: rgb(180, 236, 255); */
  background-color: rgb(192, 239, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px 20px;
  /* text-align: center; */
  max-width: 100%;
  width: 800px;
}

.graph {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;; */
  padding: 20px;
  border-radius: 10px;
  /* background-color: rgb(255, 250, 251) */
  display: true;
  /* color:aqua; */
  width: 200;
}

/* .line {
  color: #04aa6d;
}
.line.options.scales.grid {
  color: #04aa6d;
  linewidth: 200px;
} */

/* The container <div> - needed to position the dropdown content */
.dropbtn {
  position: relative;
  display: inline-block;
  align-items: left;
}

/* Dropdown Content (Hidden by Default) */
.dropbtn-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropbtn-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  transform: scale(0.98);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  transform: scale(0.98);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropbtn:hover {
  background-color: #49bbde;
}

.enter:hover {
  background-color: #c5c5c5;
}

/* #mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
} */
