/* .mainContainer {
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  background-color: #f4f0e1;
} */


.mainContainer {
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  margin-top: 40px; 
  gap: 50px;
  height: 100vh;
}

#disastersOverTime {
  padding-top: 10px; 
  height: 30px; 
  width: auto; 
}