/* .sidebarWrapper {
  width: 300px;
  height: 100vh;
  background-color: #f4f0e1;
  color: #39543b;
  padding-left: 1em;
}

.headers {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px; 
  margin-left: auto; 
  padding-bottom: 10px; 
} */

.sidebarWrapper {
  padding-top: 40px; 
  width: 400px;
  background-color: #a2a452;
  color: #39543b;
  padding-left: 1em;
  border-top-right-radius: 20px; 
}

.selectWidgetContainer {
  background-color: #f4f0e1;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 15px;
}

.sidebarContainer {
  border-radius: 10px;
}
 .dropdownContainer{
  display: flex;
  flex-direction: row;
  gap: 5px;
} 

.dropDownBtn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  border-radius: 5px;
  color: #39543b;
  border: 1px solid #f4f0e1;
  background-color: #f4f0e1;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.headers {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px; 
  margin-left: auto; 
  padding-bottom: 10px; 
}

.spacer {
  padding-bottom: 40px; 
}