.widgetGridWrapper {
  margin-left: 8px;
  background-color: #a2a452;
  height: minmax(100vh, fit-content);
  width: 100%;
  padding: 2em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.widgetGridContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  width: fit-content;
  gap: 40px;
  height: 100%;
}
