.widgetGridWrapper {
  margin-left: 8px;
  background-color: #a2a452;
  height: 100%;
  width: 100%;
  padding: 2em;
}

.widgetGridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  height: 100%;
}
